/* ==UserStyle==
@name			Google Chat Dark
@namespace		https://github.com/loganswartz
@version		2.0.0
@description	An official-looking dark theme for Google Chat
@author			Logan Swartzendruber
@homepageURL	https://github.com/loganswartz/Google-Chat-Dark
@updateURL		https://github.com/loganswartz/Google-Chat-Dark/raw/main/google-chat-dark.user.css
==/UserStyle== */

/*
 * These CSS rules were completely rewritten from scratch after the new Chat update.
 *
 * Applies to the main `chat.google.com` and `mail.google.com/chat` sites, as well
 * as any generic Gsuite modals that Google Chat brings up.
 */

@-moz-document regexp(".*google\\.com.*") {
	/*
	================================
		CSS variable definitions
	================================
	*/
	:root {
		--red: #FB4934;
		--cyan: #00BDA4;
		--border-gray: rgba(100,121,143,0.122);
		--dark: #202124;
		--light-dark: #2a2b2e;
		--incoming: #e8eaed;
		--incoming-dark: #999;
		--scroll-bar-bg-color: hsla(0,0%,100%,0.2);
		--input-bg-color: #3c4043;
		--filter-black-to-incoming: invert(94%) sepia(4%) saturate(130%) hue-rotate(183deg) brightness(102%) contrast(88%);  /* https://codepen.io/sosuke/pen/Pjoqqp */
		--cornflower: #6DA5F1;
		--sea-nymph: #83A598;
	}
}
@-moz-document regexp(".*(mail\\.google\\.com\\/chat|chat\\.google\\.com).*") {
	/*
	====================================
		Main Google Chat site styles
	====================================
	*/

	/* Thin scrollbar styles */
	* {
		scrollbar-color: var(--scroll-bar-bg-color) transparent;
		scrollbar-width: thin;
	}

	html,
	#loading,
	.aAU,  /* topbar and left sidebar, aka the body tag*/
	.vIO7af, .c0lDWe, .aM97s,  /* group message topbar */
	/* group chat bubble backgrounds */
	.McQwEc, .oGsu4,
	.XbbXmb.zzVqCe .nF6pT,
	.dsoUjb .jGyvbd .jO0Dzb, .vmpzOc,
	.JMZuue, /* Search Results filters */
	.zPVzl,  /* "X messages not shown" element */
	.Va83nc  /* expand conversation spinner */
	{
		background-color: var(--light-dark);
	}

	/* Current conversation hightlight */
	.IL9EXe.dHI9xe.qs41qe,
	.IL9EXe.dHI9xe.qs41qe:focus, .IL9EXe.dHI9xe.qs41qe:hover
	{
		background-color: var(--sea-nymph);
	}

	.cmEq8b .Zc1Emd, .cmEq8b .Z4BnXb,  /* group chat message text */
	.cmEq8b .Z4BnXb .njhDLd, .t5F5nf,  /* contact names text */
	.V6.CL,  /* UI section labels */
	.nk7hB, .wWf0Bc, .nk7hB .cAW0Vc,  /* chat window contact name */
	.BScnzc,  /* chat window message input */
	.d4FIEb .ajCeRb .QIJiHb, /* Search results text */
	.jRv5Ke, .OfkuDb .njhDLd,  /* search filter buttons text */
	.PL5Wwe.H7du2 .t5F5nf,  /* unread message contact name */
	.PL5Wwe.H7du2:not(.qs41qe) .kjWKTd, /* unread message preview text */
	.CzgMb .JHZPc, .dsIb9c .JHZPc,  /* settings modal title */
	.nG9WVe, body, .cu2s6c, .MocG8c, /* settings modal box titles and text */
	.OAsnxe,  /* Collapsed messages indicator text */
	.zoLWtf, .YrDqyb .jO7h3c, .Bf2kwd .uyYuVb,  /* online status modal option titles */
	.ReIHZc .NXfF8b, .ReIHZc .ZTmjQb, .s6FlWd,  /* new conversation contact names */
	.z80M1, .R5Q1ue, /* current conversation contact dropdown text */
	.rYdrs,  /* group room manage webhooks modal title */
	.LlwD4d > .PNenzf,  /* Edit group and emoji modal title */
	.wLzlc,  /* Add people and bots modal title */
	.Abjkyf .LI2rz,  /* Add people and bots contact names */
	.kyAPFb .zHQkBf, .kyAPFb .snByac,  /* Add people and bots search field */
	.OBEir,  /* room notifications modal title */
	.CarFdd  /* room notifications modal option titles */
	{
		color: var(--incoming);
	}

	/* code snippets text */
	.U8d2H, .FMTudf {
		background-color: #2d333b;
		color: #adbac7;
		border-color: #3d434b;
	}

	.Yc  /* Online status name */
	{
		color: #ccc;
	}

	/* UI section labels */
	.XR {
		filter: var(--filter-black-to-incoming);
	}

	/* Hover group chat bubbles */
	.nF6pT.FwR7Pc .iKCcE, .VYsRpc:hover {
		background-color: rgba(255,255,255, 0.05);
	}

	.PhFuQe.yXgmRe .dJ9vNe,  /* reply input */
	.dJ9vNe  /* Group message reply input (inactive) */
	{
		background-color: var(--input-bg-color);
	}

	/* right sidebar background */
	.brC-aT5-aOt-Jw {
		background-color: var(--light-dark);
	}

	.bAw .brC-aT5-aOt-Jw,  /* right sidebar border */
	.cZICLc:hover .McQwEc, .McQwEc,  /* Hover group chat bubbles */
	.UDyRYe,  /* group chat topbar border */
	.zmXnlc .vIO7af,  /* DM chat topbar border */
	.Yb,  /* Online status button */
	.TjqSm, .SoLUp:not(:empty), /* Search filter buttons */
	.kCtYwe  /* separator in online status modal */
	{
		border-color: var(--border-gray);
	}

	.Yb:not(.abs):focus, .Yb:not(.abs):hover
	{
		border-color: #444;
	}

	/* Hide weird effect under group message "Follow" button */
	.yg4pvb::before {
		content: none;
	}

	.bn .bl,  /* Background of conversation window while loading */
	.Kk7lMc-ae3xF, .bzJiD, .Bl2pUd,  /* Background of loaded conversation window */
	.WQKmIb .Bl2pUd,  /* DM window background */
	/* DM window messages backgrounds */
	.WQKmIb .Bl2pUd .McQwEc,
	.WQKmIb .Bl2pUd .oGsu4,
	.WQKmIb .Bl2pUd .XbbXmb.zzVqCe .nF6pT,
	.pWhTUc /* Search results background */
	{
		background-color: var(--dark);
	}

	/* DM window input area background */
	.XganBc {
		background-color: transparent;
	}

	/* hover message input icons */
	div .mUbCce:hover svg {
		fill: rgba(255,255,255,0.6);
	}

	/* Search bar */
	.gb_Ue, .gb_ff, .gb_Ue.gb_Ve, .gb_Ue.gb_Ve .gb_ff {
		background-color: var(--input-bg-color);
		color: var(--incoming);
	}

	/* Search bar placeholder text */
	.gb_ff::placeholder
	{
		color: var(--incoming) !important;  /* doesn't work without !important */
		opacity: 0.5;
	}

	/* Collapsed messages indicators */
	.kZ7cwe, .Jqvwfe {
		border-color: #555;
	}

	/* Collapsed messages indicators */
	.Jqvwfe {
		background-color: #444;
	}

	/* autosuggested response bubbles */
	.T9VbLe {
		border-color: var(--border-gray);
		background-color: var(--input-bg-color);
	}
	.ubzhQb {
		color: var(--cornflower);
	}

	/* white behind profile pictures */
	.Fh7ONe, .tzwwSb {
		background-color: transparent;
	}

	/* left sidebar (collapsed) hover background */
	.bhZ.bym, .bhZ.bjB {
		background-color: var(--light-dark);
	}

	/* online status selector modal */
	.JPdR6b {
		background-color: var(--input-bg-color);
	}
	/* online status modal option caption */
	.mDRbgc {
		color: var(--incoming-dark);
	}

	/* new conversation modal */
	.ffyVOd, .uDjj8c, .hU65Ef {
		background-color: var(--input-bg-color);
	}
	.tO {
		background-color: transparent;
		border-radius: 10px;
	}

	/* show side panel button */
	/* Yes, these are all necessary for that one tiny button */
	.brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-atM,
	.aT5-aOt-I-JW .aT5-aOt-I-JX-atM,
	.aT5-aOt-I-Kq .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .aT5-aOt-I-KO .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .aT5-aOt-I-JO .aT5-aOt-I-JX-atM,
	.brC-dA-I.aT5-aOt-I-Jp.aT5-aOt-I-JW .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .brC-dA-I.aT5-aOt-I-Jp.aT5-aOt-I-JW .aT5-aOt-I-JX-atM,
	.aT5-aOt-I-JO .aT5-aOt-I-JX-atM,
	.aT5-aOt-I-JO.aT5-aOt-I-JW .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .aT5-aOt-I-JW .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .aT5-aOt-I-Kq .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .aT5-aOt-I-KO.aT5-aOt-I-JW .aT5-aOt-I-JX-atM,
	.brC-dA-I.aT5-aOt-I-Jp.aT5-aOt-I-JO .aT5-aOt-I-JX-atM,
	.brC-aMv-bta .brC-dA-I.aT5-aOt-I-Jp.aT5-aOt-I-JO .aT5-aOt-I-JX-atM
	{
		background-color: var(--input-bg-color);
	}

	/* conversation popout + hamburger button hover */
	div .mUbCce:hover,
	div .mUbCce:focus,
	div .mUbCce:active,
	div .mUbCce.qs41qe,
	div .mUbCce.u3bW4e,
	.JRtysb:hover .snByac,
	.JRtysb:focus .snByac,
	.JRtysb:active .snByac,
	.JRtysb.qs41qe .snByac,
	.JRtysb.u3bW4e .snByac {
		fill: rgba(255,255,255,0.6);
	}

	/* hovered or focused chat message lines */
	.nF6pT.FwR7Pc .iKCcE {  /* remove existing behavior highlighting a different element */
		background-color: transparent;
	}
	/* imitate stock behavior on the correct element */
	.nF6pT.FwR7Pc .iKCcE .VYsRpc {
		background-color: rgba(255,255,255,0.05);
	}
	.nF6pT.FwR7Pc .iKCcE .VYsRpc:hover {
		background-color: rgba(255,255,255,0.1);
	}

	/* current conversation contact dropdown button background */
	.FS4hgd:hover:focus,
	.FS4hgd.u3bW4e:hover,
	.mUbCce:hover:focus,
	.mUbCce.u3bW4e:hover,
	.V2LZBf:hover:focus,
	.BqpWcb:hover:focus,
	div .JRtysb:hover:focus,
	.FS4hgd.iWO5td.iWO5td,
	div .dHI9xe.KKjvXb,
	div .dHI9xe.qs41qe
	{
		background-color: rgba(255,255,255,0.07);
	}

	/* current conversation contact dropdown title */
	.FS4hgd.iWO5td .ojqkvd, .FS4hgd.iWO5td,
	.dHI9xe.qs41qe, .dHI9xe.KKjvXb.KKjvXb,
	.dHI9xe.qs41qe .ojqkvd.ojqkvd,
	.dHI9xe.KKjvXb.KKjvXb .ojqkvd {
		color: var(--incoming);
		fill: var(--incoming-dark);
	}

	.z80M1.FwR7Pc,  /* current conversation contact dropdown option hovers */
	.MPYLpb .OA0qNb .LMgvRb.KKjvXb  /* email notifications dropdown hover */
	{
		background-color: rgba(32,33,36, 0.2);
	}

	/* settings modal background */
	.g3VIld,  /* scrollbar */
	.BFRaWe,  /* main body */
	.Xs68kb,  /* header */
	.Xln1ef,  /* footer */
	.ncFHed, .IbmgNb  /* email notifications dropdown background */
	{
		background-color: var(--input-bg-color);
	}

	/* settings modal boxes */
	.ctDTIf {
		background-color: var(--light-dark);
	}

	/* settings X icon */
	.fKz7Od {
		fill: var(--incoming-dark)
	}

	/* settings "Show an example" button */
	.YZxZNc {
		border-color: var(--border-gray);
		background-color: var(--input-bg-color);
	}
	.YZxZNc:hover {
		background-color: rgba(255,255,255,0.2);
		border-color: rgba(255,255,255,0.1);
	}

	/* conversation search header */
	.PGrLhd {
		background-color: var(--sea-nymph);
	}
	.PGrLhd.pCdWNe {
		border-bottom: none;
	}

	/* group room unread separator background */
	.Fv5sh {
		background-color: var(--dark);
	}

	/* group room "Chat Files Tasks" tabs hover */
	.wmFscd.DWWcKd-OomVLb-LgbsSe-ZmdkE {
		background-color: rgba(255, 255, 255, 0.2);
	}

	/* group room "Chat Files Tasks" tabs nonselected text hover */
	.wmFscd.DWWcKd-OomVLb-LgbsSe-ZmdkE:not(.DWWcKd-OomVLb-LgbsSe-gk6SMd) {
		color: rgba(255, 255, 255, 0.6);
	}

	/* group conversation follow button */
	.zxHSSc {
		background-color: var(--input-bg-color);
		border-color: var(--border-gray);
	}

	/* New thread in room button */
	.SfqTBc {
		background-color: var(--input-bg-color);
	}
	/* new thread button plus icon */
	.B2Lwp {
		background-color: transparent;
	}
	.i6q1kd {
		fill: var(--cyan);
	}
	/* "New thread in " text */
	.aVw1Ob {
		color: var(--incoming);
	}
	.SfqTBc .jy2fzc {
		color: var(--cyan);
	}

	/* message line hover popup */
	.eWw5ab {
		background-color: #555;
	}
	/* message line hover popup icons */
	.f8lxbf, .f8lxbf polygon {
		fill: var(--incoming-dark)
	}
	/* .f8lxbf polygon doesn't change color properly on hover, but it's so tiny that I don't care */
	/* 4th reply input icon */
	.ddHZbd, .wAZd3e {
		fill: var(--incoming-dark);
	}

	/* Current conversation title + time */
	.IL9EXe.PL5Wwe.dHI9xe.qs41qe .njhDLd,
	.IL9EXe.PL5Wwe.dHI9xe.qs41qe .FvYVyf,
	.IL9EXe.PL5Wwe.dHI9xe.qs41qe .jy2fzc {
		color: var(--dark);
	}

	/* new conversation button focus */
	.Yh:not(.aa4):not(.akV):focus::before {
		box-shadow: inset 0 0 0 1px var(--input-bg-color);
	}

	/* help modal */
	.t9, .t6.zH:hover, .t6.zH {
		background-color: var(--input-bg-color);
	}
	/* help modal option hover */
	.ua.bk5 {
		background-color: rgba(255,255,255,0.07);
	}
	/* help modal option text */
	.ua {
		color: var(--incoming);
	}

	/* group room files tab header */
	.ZnUPVd {
		background-color: var(--input-bg-color);
		color: var(--incoming);
	}
	/* filename */
	.m7Cm7c {
		color: var(--incoming-dark);
	}
	/* file row */
	.B1dtMb {
		color: var(--incoming);
	}
	.B1dtMb:hover, .B1dtMb:focus {
		background-color: rgba(255,255,255,0.2);
	}
	.B1dtMb:hover .m7Cm7c {
		color: var(--incoming);
	}
	/* row borders */
	.ZnUPVd, .KwpWwd, .B1dtMb {
		border-color: var(--incoming-dark);
	}

	/* view members in room modal */
	.Ftdlzd, .O6HEx, .RiJ7yf {
		color: var(--incoming);
	}
	/* view members in room modal background */
	.mjANdc .g3VIld {
		background-color: var(--light-dark);
	}
	.yRrEPe:hover, .yRrEPe:focus {
		background-color: rgba(255,255,255,0.05);
	}
	.M8SXde {
		fill: var(--incoming-dark);
	}
	/* view members in room modal contacts options dropdown */
	.JPdR6b.e5Emjc.qjTEB {
		background-color: var(--input-bg-color);
	}
	/* view members in room modal plus button bg */
	.OaevWb {
		background: transparent;
	}
	/* view members in room modal separator line */
	.AajRzd::after {
		border-color: var(--input-bg-color);
	}

	/* group room manage webhooks modal subtitle */
	.bKgC9d {
		color: var(--incoming-dark);
	}
	.bKgC9d:hover, .bKgC9d:focus {
		color: var(--incoming);
	}

	/* modal text fields */
	.rFrNMe:not(.Xavc3e) .Wic03c {
		background-color: var(--input-bg-color);
	}
	.rFrNMe:not(.Xavc3e):not(.e96Lvf) .zHQkBf, .rFrNMe:not(.Xavc3e):not(.e96Lvf) .snByac, .KHxj8b.tL9Q4c {
		color: var(--incoming);
	}
	/* modal text field underlines */
	.g3VIld .aCsJod.oJeWuf {
		border-bottom: none;
	}
	.rFrNMe:not(.Xavc3e):not(.e96Lvf) .mIZh1c {
		background-color: rgba(255,255,255,0.1);
	}
	/* modal confirm buttons */
	.g3VIld .HvOprf.RDPZE, .e3Duub.RDPZE.RDPZE, .w63zXd.RDPZE.RDPZE .NMPajd {
		background-color: var(--input-bg-color)
	}

	/* Add people and bots modal input */
	.gAzxG {
		background-color: var(--input-bg-color);
		border-color: rgba(255, 255, 255, 0.2);
	}

	/* Add people and bots separator line */
	.e4vfDb {
		border-color: rgba(255, 255, 255, 0.2);
	}

	/* room notifications radio buttons */
	.t5nRo {
		border-color: var(--incoming-dark);
	}
}
@-moz-document regexp(".*(contacts\\.google\\.com|mail\\.google\\.com\\/chat|chat\\.google\\.com).*") {
	/*
	========================================================================================
		Styles for GSuite hover modals, and other external / Google app agnostic elements
	========================================================================================
	*/

	/* Right-top profile modal */
	.gb_F {
		background-color: var(--input-bg-color);
	}
	/* Add another account button */
	.gb_wb.gb_wb {
		background-color: transparent;
		color: var(--incoming-dark);
	}
	.gb_wb:hover {
		background-color: rgba(255,255,255,0.1);
		color: var(--incoming);
	}
	.gb_wb:focus, .gb_wb:hover:focus {
		background-color: rgba(255,255,255,0.15);
		color: var(--incoming);
	}
	/* Profile name */
	.gb_l .gb_mb {
		color: var(--incoming);
	}
	/* Profile email address */
	.gb_l .gb_ob {
		color: var(--incoming-dark);
	}
	/* profile separators */
	.gb_Jb, .gb_Cb {
		border-color: rgba(255,255,255,0.2);
	}

	/* Chat profile hover modals */
	.qDm3sf, .hbZTIc, .DYLA1c, .hjLZMe {
		background-color: var(--input-bg-color);
	}
	.qDm3sf .CswBCd.mVSsPb, .hbZTIc .CswBCd.mVSsPb, .cs3SAb, .YysZRb, .rABsFf {
		color: var(--incoming);
	}
	.qDm3sf .cri8dc, .hbZTIc .cri8dc, .c2Xo3b {
		border-color: rgba(255,255,255,0.2);
	}

	.gb_sb.gb_sb,  /* "Manage your Google Account" button */
	.gb_Db.gb_Db  /* "Sign out" button */
	{
		background-color: rgba(255,255,255,0.1);
		border-color: rgba(255,255,255,0.1);
		color: var(--incoming);
	}
	.gb_sb.gb_sb:hover, .gb_sb:active, .gb_sb:focus:active,  /* "Manage your Google Account" button */
	.gb_Db.gb_Db:hover, .gb_Db:active, .gb_Db:focus:active  /* "Sign out" button */
	{
		background-color: rgba(255,255,255,0.15);
	}

	/* Privacy Policy & Terms of Service buttons */
	.gb_ub:hover, .gb_ub:focus, .gb_ub:hover:focus {
		background-color: rgba(255,255,255,0.1);
		color: var(--incoming);
	}
}

@-moz-document regexp(".*ogs\\.google\\.com.*") {
	/*
	=========================
		Google Apps modal
	=========================
	*/
	.EHzcec {
		background-color: var(--input-bg-color);
	}

	/* Google app selector name text */
	.Rq5Gcb {
		color: var(--incoming);
	}

	/* Google apps selector hover bg */
	.tX9u1b:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
	.tX9u1b:hover .Rq5Gcb {
		background-color: transparent;
	}

	/* GSuite marketplace button */
	.NQV3m {
		border-color: var(--border-gray);
		background-color: rgba(255, 255, 255, 0.1);
		color: var(--cornflower);
	}
	.NQV3m:focus, .NQV3m:hover:focus, .NQV3m:active, .NQV3m:active:focus, .NQV3m:hover {
		background-color: rgba(255, 255, 255, 0.25);
		border-color: var(--border-gray);
	}
}
