/* ==UserStyle==
@name           Google Chat Dark
@namespace      https://github.com/loganswartz
@version        1.0.0
@description    An official-looking dark theme for Google Chat
@author         Logan Swartzendruber
@homepageURL    https://github.com/loganswartz/Google-Chat-Dark
@updateURL      https://github.com/loganswartz/Google-Chat-Dark/raw/main/google-chat-dark.user.css
==/UserStyle== */

/*
 * This style was initially based on the GO-Ventura-Dark theme
 * (https://github.com/Alorse/GO-Ventura-Google-Chat), mainly to avoid needing to
 * manually discover all the CSS selectors myself when someone else has already
 * done the work. I've since changed a good portion of the style rules and added
 * quite a few new selectors and rules to make the style more cohesive.
 */


/*
 * Applies to the main chat.google.com site, as well as any generic Gsuite modals
 * that Google Chat brings up.
 */
@-moz-document regexp(".*chat\\.google\\.com.*") {
	:root {
		--red: #FB4934;
		--cyan: #00BDA4;
		--pink: #D3869B;
		--darken: #373737;
		--gray: #424242;
		--b-gray: 1px solid var(--gray);
		--sea-nymph: #83A598;
		--pale-slate:#CAC4C9;
		--faded-jade: #458588;
		--fiord: #395567;
		--limeade: #30B700;
		--everglade: #213A2D;
		--dark: #202124;
		--light-dark: #2a2b2e;
		--outer-space: #273138;
		--darker: #161B1D;
		--silver: #C1C1C1;
		--white: #FFFFFF;
		--t: transparent;
		--radius: 4px;
		--sh-30: rgba(105, 102, 100,0.30);
		--sh-15: rgba(105, 102, 100,0.30);
		--incoming: #e8eaed;
		--header-back-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.45);
		--scroll-bar-bg-color: hsla(0,0%,100%,0.2);
		--input-bg-color: #3c4043;
		--list-grey-selected-bg-color: rgba(248,249,250,0.06);
		--light-dark-highlight: rgba(32,33,36,0.5);
		--input-shadow: 0 1px 5px 0 rgba(0,0,0,0.15),0 4px 4px 0 rgba(0,0,0,0.1),0 -0.1px 3px 0 rgba(0,0,0,0.08);
		--fab-icon-container-bg-color: rgb(24, 90, 188);
		--google-blue: #1a73e8;
	}


	/*
	==================================================================================================================================
		Styles for the main Google Chat site.
	==================================================================================================================================
	*/

	/* Thin scrollbar styles */
	* {
		scrollbar-color: var(--scroll-bar-bg-color) transparent;
		scrollbar-width: thin;
	}
	body:not(.EIlDfe) {
		background-color: var(--dark);
	}
	/* Chat top left logo text color */
	.nHjhsd {
		opacity: 0.8;
	}
	/* Reduce size of New conv button */ .SfqTBc,
	/* BG threads in chat rooms */ .cZICLc .dsoUjb.FwR7Pc,
	/* Sidebar search button */.GbZFNe,
	/* Response suggestions */ .T9VbLe:hover, .T9VbLe:focus,
	/* Dropdown menus */ .JPdR6b,
	/* Unread warning */ .FTuhNb,
	/* Status hover */ .RASpke:hover,
	/* Threads box */ .cZICLc:hover .dsoUjb,
	/* Likes hover */ .dIC9Jb:hover
	{
		box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
	}
	.RnpT2b:hover .SfqTBc,
	/* Sidebar search button */ .GbZFNe:hover {
		box-shadow: none; /* 0 1px 3px 0 var(--sh-30), 0 4px 8px 3px var(--sh-15); */
	}
	/* Highlight hovered menu options */ .z80M1.R5Q1ue.FwR7Pc {
		background-color: var(--list-grey-selected-bg-color);
	}
	/* thread BG border color on hover, the :not() excludes normal (individual convo) chat bubbles */
	:not(.XbbXmb).cZICLc .dsoUjb {
		border: var(--b-gray);
	}
	.SfqTBc, /* New Thread button */
	.RnpT2b:hover .SfqTBc,
	.RnpT2b:active .SfqTBc,
	.RnpT2b:focus .SfqTBc {
		border: var(--b-gray);
	}
	/* thread expand messages */
	.kZ7cwe {
		border-top: var(--b-gray);
		border-bottom: var(--b-gray);
		transition: 0.2s;
	}
	.zh742e:hover .kZ7cwe {
		border-top: 1px solid var(--incoming);
		border-bottom: 1px solid var(--incoming);
	}
	/* Shadow avatars in grupal chat */
	.gguVqe .iXHk0b .YQsadf {
		box-shadow: 2px 0 var(--dark);
	}
	/* Badge with with number of folded messages */ .Jqvwfe,
	/* Answer border private p2p room .PhFuQe.yXgmRe .dJ9vNe, */
	/* Answer border in channel .dJ9vNe, */
	/* BG threads in chat rooms */ .dsoUjb,
	/* active status */ .RASpke, .RASpke:hover, .RASpke:focus, .RASpke:active, .RASpke:hover:focus
	{
		border: var(--b-gray);
	}
	/* Answer border, private p2p room */
	.PhFuQe.yXgmRe .dJ9vNe, .dJ9vNe
	{
		background-color: var(--input-bg-color);
	}
	.I0LFzc {
		border-radius: 0;
	}
	/* topbar */
	.QTQg5e {
		border-bottom: 0;
		box-shadow: var(--header-back-box-shadow);
		z-index: -1;
	}
	/* Line separator dropdown menu */
	.kCtYwe {
		border-top: var(--b-gray);
	}
	/* BG for Google Apps icon */
	.gb_zc {
		background-color: var(--silver);
	}
	/* Background for user icons, this prevents some fuzzy aliasing around the icons */
	.Fh7ONe {
		background: inherit;
	}
	/* private chat user dropdown */
	.FS4hgd.iWO5td[aria-expanded=true] {
		background-color: var(--list-grey-selected-bg-color);
	}
	.FS4hgd.iWO5td[aria-expanded=false] {
		background-color: inherit;
	}
	/* convo search dropdown */
	.P2iMtd.jBmls.krjOGe {
		background-color: inherit; /*var(--darken);*/
	}
	.ffyVOd {
		background-color: var(--light-dark);
	}
	/* Search bar dropdown background */
	.hU65Ef, .Jefnse.vqvSF {
		background-color: var(--dark);
	}
	/* Search bar dropdown options hover */
	.PL5Wwe.ReIHZc:hover {
		background-color: var(--light-dark);
	}
	/* search field */
	.uGq0Qe {
		border-bottom: 0;
		background-color: var(--input-bg-color);
	}
	/* settings page bg */
	.FdpJL.krjOGe, .UFgSJ {
		background-color: var(--light-dark);
		border: 0;
	}
	/* setting page modals */
	.ctDTIf {
		background-color: var(--input-bg-color);
	}
	.nG9WVe, .Wes69c div, .Wes69c h2,
	.HC6Izf /* Settings Page header */
	{
		color: var(--incoming);
	}
	.MPYLpb .KKjvXb {
		color: var(--silver);
	}
	/* settings page options */
	.MocG8c.LMgvRb, .OA0qNb.ncFHed, .Xs68kb {
		background-color: var(--light-dark);
	}
	.MocG8c.LMgvRb.KKjvXb {
		background-color: var(--darken);
	}
	.MPYLpb .OA0qNb .LMgvRb.KKjvXb {
		background-color: var(--light-dark-highlight);
	}
	/* highlight hovered menu options */
	.z80M1.FwR7Pc, .bsaKEc:hover {
		background-color: var(--list-grey-selected-bg-color);
	}
	/* Images and links */ .yGeRMb, .KuG0bc, .Pj9rof,
	/* New conv button */ .SfqTBc,
	/* Likes */ .dIC9Jb
	{
		border-color: var(--light-dark);
		background-color: var(--light-dark);
	}
	/* Response suggestions */ .T9VbLe {
	border: none;
	background-color: var(--list-grey-selected-bg-color);
	}
	/* Image and link preview borders (reduce visible artifacts) */
	.Pj9rof {
		border-width: 2px;
	}
	/* content */
	.FdpJL {
		border-left: var(--b-gray);
		border-top: var(--b-gray);
	}
	/* Top left corner section (with title) background color */ .Riuhhf,
	/* Sidebar color */ .X9KLPc
	{
		border-right: 0;
		/* Sidebar colors */ background-color: var(--light-dark);
		z-index: 6; /* prevent topbar dropshadow from going over sidebar */
	}
	/* Photos */ .YQsadf {
	/* border: 0.5px solid var(--gray); */
	}
	/* Follow */
	.yg4pvb::before {
		background: none;
	}
	body,
	/* Sidebar "recent" or "starred" section names text size and color */ .aOHsTc,
	/* Search Menu "frequent" section text color */ .wAR34c,
	/* Make code snippets look like slack's */ .FMTudf,
	/* Search menu people list mail color */ .Kfe2Ub,
	/* Make inline pre look like slack's */ .U8d2H,
	/* Text in textbox for search menu */ .rFrNMe:not(.Xavc3e):not(.e96Lvf) .zHQkBf, .vW0I1d, .uJSEJc, .bKgC9d, .rYdrs
	/* Top bar channel name, user name */ .nk7hB, .nk7hB .cAW0Vc, .cmEq8b .Z4BnXb,
	/* Channel name color in sidebar */ .t5F5nf,
	/* New thread title in chat room */ .qnCNBb,
	/* Notifications hours dropdown */ .KrrIce, .Ftdlzd,
	/* Participants in group chats */ .CmMf8e,
	/* Search menu text color */ .Uk0Bfe .zHQkBf, .Uk0Bfe .snByac, .dQ2Tsf .NXfF8b,
	/* New thread button text */ .aVw1Ob, .SfqTBc .jy2fzc,
	/* Text in seach results */ .d4FIEb .ajCeRb .QIJiHb,
	/* Search Menu sections */ .BmI6nc .t5F5nf,
	/* Add people to group */ .Abjkyf .LI2rz, .RiJ7yf,
	/* Hidden msgs summary */ .Jqvwfe,
	/* Search Menu titles */ .s6FlWd,
	/* Text preview links */ .hlrRUb, .kmatHb,
	/* Text in answer bar */ .oAzRtb,
	/* Search Menu names */ .ReIHZc .ZTmjQb, .ReIHZc .NXfF8b,
	/* Labels in popups */ .L21Pje .fg49Gd, .O6HEx,
	/* Titles in popups */ .wLzlc,
	/* New conv button */ .SfqTBc,
	/* Text room menu */ .z80M1,
	/* Text in chats */ .cmEq8b .Zc1Emd, .cmEq8b .Zc1Emd > div,
	/* Chat title */ .wWf0Bc,
	/* Sidebar */ .HzTBCc,
	.PL5Wwe.H7du2:not(.qs41qe) .RsRwdf,
	.cmEq8b .Z4BnXb .njhDLd,
	.YrDqyb .jO7h3c
	{
		color: var(--incoming) !important;
	}
	/* Chat top left logo text color */ .nHjhsd,
	/* Close icon in new thread */ .p9Cqzd,
	/* Inactive status icon .vMbxHf, */
	/* Global icons */ .mUbCce:hover, .mUbCce:focus, .JRtysb:hover .snByac,
	/* Seach Icon hover */ .GbZFNe:hover .vsxzuf
	{
		fill: var(--white) !important;
	}
	/* Simple notification text in groups chat */ .lRvMp,
	/* Subtitles dropdown menu */ .R5Q1ue .FCx0Ne,
	/* "Until" notifications */ .OAi7ze,
	/* Hidden msgs summary */ .zPVzl,
	/* Title dropdown menu */ .PkxUw,
	/* Reply in textbox */ .XweIZc,
	/* Time in messages */ .FvYVyf,
	/* Likes number */ .YK45Id,
	.gWTIDe
	{
		color: var(--silver);
	}
	/* Back button responsive & Icons in textbox */ .fKz7Od,
	/* Icons in internal chat Menu */ .o50UJf, .rEu3Tb
	{
		fill: var(--silver);
	}
	/* active status icon */
	.Qgwczb {
		background-color: var(--limeade);
	}
	/* "Unread" warning */ .FTuhNb .RW5Kg,
	.FS4hgd.iWO5td .ojqkvd, .FS4hgd.iWO5td, .LmMDfc.qs41qe, .dHI9xe.qs41qe,
	.dHI9xe.KKjvXb.KKjvXb, .LmMDfc.qs41qe .ojqkvd, .dHI9xe.qs41qe .ojqkvd.ojqkvd,
	.dHI9xe.KKjvXb.KKjvXb .ojqkvd {
		color: var(--pale-slate);
	}
	.OpmeVb .GfYBMd {
		fill: var(--google-blue);
	}
	.FTuhNb.AalhBd {
		background-color: var(--gray);
	}
	/* Make code snippets look like slack's */ .FMTudf,
	/* Make inline pre look like slack's */ .U8d2H {
	border-color: var(--fiord);
	}
	/* Sidebar current channel */
	.teTAFe .qs41qe {
		background-color: var(--list-grey-selected-bg-color) !important;
	}
	/* Sidebar current channel last message blurb */
	.PL5Wwe.qs41qe:not(.H7du2) .RsRwdf {
		color: #5f6368;
	}
	/* Selected msg in priv chat */ .nF6pT.FwR7Pc .iKCcE,
	/* BG chat text */ .hu21Y:hover {
	background-color: var(--dark);
	}
	/* Change link preview border on hover */
	.hu21Y:hover .yGeRMb, .hu21Y:hover .KuG0bc, .hu21Y:hover .Pj9rof {
		border-color: rgba(0,0,0,0.2);
	}
	/* individual message options modal background */
	.eWw5ab {
		background-color: var(--incoming);
	}
	/* Top left corner section (with title) background color .Riuhhf, */
	/* Badge with number of folded messages */ .Jqvwfe,
	/* Reduce size of New conv button */ .SfqTBc,
	/* Background of dropdown menus */ .JPdR6b,
	/* BG threads in chat rooms */ .dsoUjb, .oGsu4, .HTZBof, .cmEq8b.COKy9b, .jGyvbd .jO0Dzb, .zPVzl,
	/* Recomendations bar */ .hBj1Kc,
	/* BG Preview links */ .SXFjfb,
	/* New thread icon */ .B2Lwp,
	/* Sidebar color .X9KLPc, */
	/* Search Bar BG .hU65Ef,*/
	/* Unread warning */ .FTuhNb,
	/* Status hover */ .RASpke:hover, .RASpke:focus, .RASpke:active, .RASpke:hover:focus,
	/* Answer bar */ .WQKmIb .Bl2pUd, .WQKmIb .byY7Yb, .XganBc, .I0LFzc.mS1Rod,
	/* Sidebar */ .HzTBCc,
	/* Topbar */ .QTQg5e,
	/* Modal */ .g3VIld,
	/* Likes */ .dIC9Jb,
	.cmEq8b .Zc1Emd span
	{
		background-color: var(--dark);
	}
	.XbbXmb.zzVqCe .nF6pT, .dsoUjb .jGyvbd .jO0Dzb {
		background-color: transparent;
	}
	/* BG Preview links */
	.SXFjfb {
		border-top: 0;
		background-color: var(--light-dark);
	}
	.tHcB6b {
		background-color: var(--dark);
	}
	/* Modal */ .g3VIld,
	.dKv0S .i5PBGe
	{
		border-color: var(--dark);
	}
	/* Sidebar search button hovering bg color */ .GbZFNe, .GbZFNe:focus, .GbZFNe:hover,
	/* Make code snippets look like slack's */.FMTudf,
	/* Make inline pre look like slack's */ .U8d2H,
	/* Modal button inactive */ .g3VIld .HvOprf.RDPZE, .e3Duub.RDPZE.RDPZE, .w63zXd.RDPZE.RDPZE .NMPajd,
	/* Response suggestions .T9VbLe, */
	/* "Unread" warning */ .z9ucM,
	/* Content */ .FdpJL,
	.rFrNMe:not(.Xavc3e) .Wic03c
	{
		background-color: var(--input-bg-color);
	}
	/* Background groups chat */ .Bl2pUd,
	/* Unread text in chat room */ .Fv5sh {
		background-color: var(--darker);
	}
	/* Following text */
	.zxHSSc, .zxHSSc.FuHVqe {
		color: var(--incoming);
		background-color: var(--gray);
		border: var(--b-gray);
	}
	/* Jump to bottom Button */
	.w63zXd:hover .NMPajd {
		background-color: var(--faded-jade);
	}
	.oG5Srb .RveJvd.RveJvd,
	/* Chat name in chat window */ .tCUB4c,
	/* Unread text in chat room */ .Fv5sh,
	/* Response suggestions */ .ubzhQb,
	/* History date "wczoraj" */ .A2BXPe
	{
		color: var(--incoming);
	}
	/* Jump to bottom */
	.w63zXd .NMPajd, .w63zXd:active:active .NMPajd,
	.g3VIld .HvOprf, .e3Duub, .g3VIld .HvOprf:hover, /* Buttons in popup */
	.nxYf0b, .e3Duub, .wmbLw.N2RpBe > .MLPG7 {
		background-color: var(--fab-icon-container-bg-color);
	}
	.oG5Srb .RveJvd.RveJvd,
	/* Unread text in chat room */
	.z9ucM .heceU {
		fill: var(--faded-jade);
	}
	/* Bell notifications */
	.DQy0Rb {
		fill: var(--pale-slate);
	}
	/* Time and menu buttons and clock for channels inactive and active colors */
	.sFuxxd {
		color: var(--pale-slate);
	}
	/* Overlay in Search Menu */ .d6pS5.iWO5td .ffyVOd,
	/* Overlay when updating */ .CMcgue
	{
		background-color: var(--light-dark);
	}
	/* box-shadow on expanded search menu suggestions, and fix white peeking through */
	.d6pS5.zflTfd.iWO5td .ffyVOd .uDjj8c.ZCgEkd {
		box-shadow: var(--input-shadow);
		background-color: var(--dark);
	}
	/* Overlay in Seach Menu */ .d6pS5
	{
		box-shadow: none;
	}
	/* Aleep status icon (Moon icon) */
	.dUJbze {
		fill: var(--pink);
	}
	/* Profile names in chats */
	.fWwrkf {
		color: var(--cyan);
	}
	/* Sidebar elements text color for channels with unread messages */
	.teTAFe .H7du2 .t5F5nf {
		color: var(--red);
	}
	/* Add people & bots e */ .tkhyaf,
	/* "Unread" warning */ .z9ucM,
	/* New thread */ .hqKA3c
	{
		border: none;
	}
	/* Individual chat background when Google Chat is loaded from the settings page, and you then exit and messages are still loading */
	.EyyDtb,
	.DLc2vb .Bqp03e[data-soft-view-id^="/dm"],
	.DLc2vb .Bqp03e[data-soft-view-id^="/room"] {
		background-color: var(--dark);
	}
	/* Chat input field box shadow */
	.dJ9vNe.X4MYrd {
		box-shadow: var(--input-shadow);
	}
	/* Expanded search field corners */
	.d6pS5.iWO5td .uDjj8c {
		border-radius: 8px;
	}
	/* Unread message blurb */
	.PL5Wwe.qs41qe.H7du2 .RsRwdf,
	.PL5Wwe.qs41qe.H7du2 .kjWKTd {
		color: var(--incoming);
	}
	/* Profile pic backgrounds */
	.DO97we, .PL5Wwe.qs41qe .WmSnJd .fLKygf {
		background-color: transparent;
	}
	/* status icon */
	.WmSnJd .Qgwczb {
		border: 2px solid #eee;
	}
	/* status icon svgs, inactive */
	.E2XEef .vMbxHf, .E2XEef .fDbrMb {
		background-color: #eee;
		border: 2px solid #eee;
		border-radius: 50%;
	}
	/* status icon inactive hover / focus */
	.PL5Wwe:hover .E2XEef .fLKygf, .PL5Wwe:focus .E2XEef .fLKygf,
	.PL5Wwe.qs41qe .E2XEef .fLKygf,
	.E2XEef .fLKygf {
		background-color: transparent;
	}
	/* status icon active */
	.WmSnJd .fLKygf,
	.PL5Wwe:hover .WmSnJd .fLKygf,
	.PL5Wwe:focus .WmSnJd .fLKygf,
	.ReIHZc[aria-selected="true"] .E2XEef .fLKygf {
		background-color: transparent;
	}
	.E2XEef .Qgwczb {
		border: 2px solid white;
	}
	/* status icon inactive */
	.WmSnJd .vMbxHf {
		background-color: #eee;
		border-radius: 50%;
		border: 2px solid #eee;
	}
	/* message bubbles */
	.zlPNZe {
		padding: 0.5rem;
		background-color: var(--light-dark);
		border-radius: 0.7rem;
	}
	/* Message preview on highlighted conversation */
	.PL5Wwe.qs41qe:not(.H7du2) .kjWKTd {
		color: #5f6368;
	}
	.PL5Wwe.H7du2:not(.qs41qe) .kjWKTd {
		color: var(--incoming);
	}
	/* Google apps icon */
	.gb_C .gb_D {
		opacity: 0.4;
		background-color: var(--incoming);
		filter: invert(.8);
	}
	/* Google apps titles */
	.Rq5Gcb {
		color: var(--incoming);
	}
	/* Google apps items */
	.tX9u1b:hover, .tX9u1b:hover .Rq5Gcb {
		background-color: var(--gray);
		color: var(--incoming);
		text-decoration: none;
	}
	.EHzcec {
		background-color: var(--light-dark);
	}
	.dGrefb, .cri8dc {
		border-color: var(--gray);
	}
	/* Google Apps marketplace button */
	.NQV3m {
		background-color: var(--gray);
		border: 0;
	}
	.NQV3m:hover,
	.NQV3m:focus,
	.NQV3m:hover:focus {
		background-color: var(--darken);
	}
	/* Profile hovers */
	.qDm3sf, .hbZTIc {
		background-color: var(--light-dark);
	}
	/* Profile hover name */
	.mVSsPb, .YGvwud, .Yh1nIb {
		color: var(--incoming);
	}
	/* Profile hover Message button hover */
	.OOi9nb .snByac:not(.RDPZE):hover {
		background-color: var(--gray);
	}

	/* background behind chat window */
	.bzJiD {
		background-color: transparent;
	}
	/* background behind profile pictures */
	.tzwwSb {
		background-color: transparent;
	}
	/* Search input field */
	.Y2UUVd.Y2UUVd.Y2UUVd .zHQkBf.zHQkBf, .t7eofd .zHQkBf.zHQkBf {
		color: var(--incoming);
	}
	/* Group message first reply info message header */
	.zI194b .PNenzf {
		color: var(--incoming);
	}
	.zI194b.AGr7sf::after {
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 16px solid var(--dark);
	}
	a:hover {
		text-decoration: underline;
	}
	.W55R9c, /* Background in Search page sidebar */
	.JMZuue /* Search page modal with contacts */
	{
		background-color: var(--light-dark);
	}
	.opGBjd, /* Search page main body background */
	.wbJc4 /* Search page topbar background */
	{
		background-color: var(--dark);
	}
	.OfkuDb .njhDLd, /* Search page contacts text */
	.jRv5Ke, /* Search page filetypes text */
	.W9bYdf /* Search page sidebar header */
	{
		color: var(--incoming);
	}
	/* Search page divider lines */
	.TjqSm
	{
		border-bottom: 1px solid var(--gray);
	}
	.W55R9c {
		border-right: 1px solid var(--gray);
	}
	.SoLUp:not(:empty) {
		border-left: 1px solid var(--gray);
	}
	.wJNUx {
		border-top: 1px solid var(--gray);
	}
	.PGrLhd, /* Search page sidebar subelement*/
	.pWhTUc, /* Search page main body background subelement */
	.RAIar /* Search page topbar search field edges */
	{
		background-color: transparent;
	}
	.FS4hgd.iWO5td.iWO5td, div .dHI9xe.KKjvXb, div .dHI9xe.qs41qe {
		background-color: rgba(153,153,153,0.2);
	}
	/* Group message "X added Y, Z" name colors */
	.A2BXPe .njhDLd {
		color: var(--cyan);
	}
	/* Group message expand messages loading icon */
	.Va83nc {
		background-color: transparent;
	}
	/* Start a new chat user input */
	.Hf2Ubd, .gAzxG {
		background-color: var(--input-bg-color);
	}
	.gAzxG, .e4vfDb {
		border-bottom-color: var(--scroll-bar-bg-color);
	}
	.kyAPFb .zHQkBf, .kyAPFb .snByac {
		color: var(--incoming);
	}
	/* Create Room name line */
	.g3VIld .aCsJod.oJeWuf {
		border-bottom: 0;
	}

	/*
	==================================================================================================================================
		Styles for GSuite hover modals, and other external / Google app agnostic elements
	==================================================================================================================================
	*/
	/* Logged in user profile */
	.gb_l.gb_5a.gb_7a {
		background-color: var(--light-dark);
	}
	.gb_l .gb_qb {
		color: var(--incoming);
	}
	/* Add another account button */
	a.gb_Ab.gb_Ab {
		background-color: var(--light-dark);
		color: #5f6368;
	}
	div.gb_Hb, div.gb_Nb {
		border-top-color: var(--gray);
		border-bottom-color: var(--gray);
	}
	a.gb_Ab.gb_Ab:hover,
	a.gb_Ab.gb_Ab:focus,
	a.gb_Ab.gb_Ab:active,
	a.gb_Ab.gb_Ab:focus:active {
		background-color: var(--darken);
	}
	/* Privacy policy & terms of service */
	.gb_yb:hover,
	.gb_yb:focus {
		background-color: var(--gray);
	}
	.gb_Ta {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	/* Right-top profile modal */
	.gb_8a, .gb_F, .gb_l, .gb_ab, .gb_na, .gb_Db.gb_hg {
		background-color: var(--light-dark);
	}
	.gb_tb.gb_ub, .gb_Jb {
		color: var(--incoming);
	}
	.gb_Kb {
		border-top: var(--b-gray);
		border-bottom: var(--b-gray);
	}
	.gb_Qb {
		border-top: var(--b-gray);
	}
	.gb_7e.gb_6c {
		color: var(--incoming);
		background-color: var(--gray);
		border: 0;
	}
	/* Chat profile hover modals */
	.qDm3sf, .hbZTIc, .DYLA1c, .hjLZMe {
		background-color: var(--light-dark);
	}
	.qDm3sf .CswBCd.mVSsPb, .hbZTIc .CswBCd.mVSsPb, .cs3SAb, .YysZRb, .rABsFf {
		color: var(--incoming);
	}
	.qDm3sf .cri8dc, .hbZTIc .cri8dc, .c2Xo3b {
		border-top: var(--b-gray);
	}
}
